:root,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.map-root {
  flex: 1;
  min-height: 100vh;
}

.map-inner {
  height: 100%;
  width: 100%;
}
